<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}QMS{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-50 text-slate-900 font-sans">

  <div class="min-h-screen flex flex-col">

    <!-- Topbar -->
    <header class="bg-white shadow px-6 py-4 flex justify-between items-center">
      <h1 class="text-xl font-semibold text-slate-800">{% block page_title %}Dashboard{% endblock %}</h1>
      <div class="flex items-center space-x-4">
        <div class="text-sm text-slate-600">
          {{ request.user.get_full_name|default:request.user.username }} ({{ request.user.role }})
        </div>
        <a href="{% url 'accounts:logout' %}"
          class="text-white bg-red-600 hover:bg-red-700 px-3 py-1 rounded">Logout</a>
        <!-- { thhis  % url 'accounts:logout' %} -->
      </div>
    </header>

    <!-- Page Content -->
    <main class="flex-1 p-6">
      {% block content %}{% endblock %}
    </main>

  </div>

  {% block scripts %}{% endblock %}
</body>

</html>